.dress {
	padding: 30px 0;

	&__text {
		margin-bottom: 40px;
		color: #fff;
	}

	&__photos {
		@media (width > 700px) {
			max-width: 672px;
			margin: 0 auto;
		}

		@media (width > 700px) {
			max-width: 672px;
		}
	}

	&__photo {
		max-width: 100%;
		width: 100%;
		margin-bottom: -5px;
	}
}

.colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 10px;
	row-gap: 10px;
	max-width: 500px;
	margin: 0 auto 30px;

	&__circle {
		width: 45px;
		height: 45px;
		border-radius: 50%;

		@media (width > 700px) {
			width: 60px;
			height: 60px;
		}

		&_green {
			background-color: rgb(33, 67, 59);
		}

		&_white {
			background-color: rgb(242, 242, 242);
		}

		&_brown {
			background-color: rgb(70, 63, 57);
		}

		&_black {
			background-color: #000;
		}
	}
}
