.header {
	height: 100vh;
	background-image: url('/images/header-bg2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 50px 0 70px;
	color: #fff;

	&__wrapper {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title,
	&__date {
		font-size: 60px;
		font-weight: 400;

		max-width: 500px;
		background-color: rgba($color: $color-pink, $alpha: 0.5);
		padding: 15px;
		border-radius: 10px;
		margin: 0 auto;

		@media (max-width: $lg) {
			font-size: 40px;
		}

		@media (max-width: $md) {
			font-size: 28px;
		}
	}

	&__title {
		max-width: 1000px;
	}
}

.timer {
	margin: 0 auto;
	max-width: 500px;
	background-color: rgba($color: $color-pink, $alpha: 0.5);
	padding: 15px;
	border-radius: 10px;

	&__title {
		font-size: 24px;
		padding-bottom: 15px;
	}

	&__list {
		display: flex;
		justify-content: center;
		font-size: 30px;
		gap: 20px;

		@media (max-width: $sm) {
			gap: 10px;
		}
	}

	&__number {
		font-size: 60px;
		margin-bottom: 15px;

		@media (max-width: $lg) {
			font-size: 40px;
		}

		@media (max-width: $md) {
			font-size: 28px;
		}
	}

	&__descr {
		font-size: 24px;

		@media (max-width: $lg) {
			font-size: 18px;
		}

		@media (max-width: $sm) {
			font-size: 14px;
		}
	}
}
