.header {
	height: 100vh;
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 67% center;
	text-align: center;
	padding: 50px 0 70px;
	color: #fff;

	@media (width > 450px) {
		background-position: 80% center;
	}

	&__title {
		font-size: 72px;
		font-weight: 400;
		margin-top: 5%;

		@media (width < 450px) {
			margin-top: 10%;
		}

		@media (width < 700px) {
			margin-top: 10%;
			font-size: 47px;
		}
	}

	&__subtitle {
		font-size: 24px;
		padding: 0;
		margin: 0;

		@media (width > 700px) {
			font-size: 40px;
		}
	}

	&__subtitle,
	&__title {
		color: #000;
	}
}
